:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.video-list {
  color: var(--neutral-900);

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
  }

  &__content {
    overflow-y: auto;
    max-height: 300px;
    min-width: 400px;
    max-width: 800px;
    width: 50vw;

    .mat-column {
      &-id, &-action, &-length {
        width: 30px;
      }

      &-format {
        max-width: 105px;
      }
    }
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 400px;
    max-width: 800px;
    width: 50vw;
    padding: 48px 0;
    background-image: url("data:image/svg+xml,%3csvg stroke='%2300000099' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke-width='4' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    cursor: pointer;

    &-file-input {
      display: none;
    }

    h2 {
      margin: 0;
    }

    mat-icon {
      font-size: 128px;
      height: 128px;
      width: 128px;
    }
  }
}
