<div class="builder-workflow">
  <div class="builder-workflow__top-bar">
    <app-wizard-steps class="builder-workflow__steps" [workflowSteps]="workflowSteps" (navigation)="switchStep($event)"></app-wizard-steps>
  </div>
  <div class="builder-workflow__container" *ngIf="videos$ | async as videos">
    @switch (workflowSteps.activeStep) {
      @case(0) {
        <div></div>
        @if (details$ | async; as details) {
          <app-details-form [details]="details" [nextEvent]="nextStepObservable" (results)="setDetails($event)"></app-details-form>
        }
        <div></div>
      }
      @case(1) {
        <app-video-list  [videos]="videos" (upload)="setVideos($event)"></app-video-list>
      }
      @case(2) {
        @if (scene$ | async; as scene) {
          <app-builder [videos]="videos" [scene]="scene" (sceneUpdate)="updateScene($event)" class="builder-workflow__builder"></app-builder>
        }

      }
      @case(3) {
        <div>preview</div>
      }
    }

  </div>
  <div class="builder-workflow__actions">
    <button mat-flat-button
            color="primary"
            (click)="switchStep({transport: 1})">
      continue
    </button>
    <button mat-stroked-button color="primary"
            *ngIf="workflowSteps.activeStep > 0"
            (click)="switchStep({transport: -1})">
      previous
    </button>
  </div>
</div>
