.builder-workflow {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;

  &__top-bar {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  &__steps {
    width: 33%;
    min-width: 500px;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  &__actions {
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  &__builder {
    max-width: 100%;
    width: 60%;
    height: 100%;
    flex: 3;
  }

  &__sidebar {
    flex: 1;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 40, 0.5);
    min-width: 400px;
    background-color: #FCFCFC;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0;
        font-weight: 800;
      }
    }
  }

  &__generated-json {
    background-color: #efefef;
    overflow: auto;
    width: 100%;
    height: 800px;
  }

}
