<div class="scene-table"
     cdkDrag
     (cdkDragStarted)="dragStarted()"
     [cdkDragFreeDragPosition]="video.builderConfig ? video.builderConfig.point : {x: 0, y: 0}"
     (cdkDragReleased)="onReleaseVideo()" (cdkDragEnded)="onVideoDragEnd($event)"
     cdkDragBoundary=".builder__canvas">
  <div class="scene-table__header">
    <span class="scene-table__id">{{video.id}}</span>
    <span class="scene-table__location">
      <mat-form-field [matTooltip]="videoControl.value?.name ?? ''">
        <input #videoInput
               class="scene-table__location-input"
               matInput
               [formControl]="videoControl"
               [matAutocomplete]="videoAuto"
               (input)="filter()"
               (focus)="filter()"
               [placeholder]="'BUILDER.VIDEO_PATH' | translate">
        <mat-autocomplete requireSelection #videoAuto="matAutocomplete" [displayWith]="getVideoOptionText">
          @for (video of filteredVideoOptions; track video.id) {
            <mat-option [value]="video">{{video.name | fileFromPath}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

    </span>
    <span class="scene-table__delete-action" *ngIf="video.id !== 0">
      <button mat-icon-button (click)="removeVideo()" [matTooltip]="'BUILDER.REMOVE_VIDEO' | translate">
        <mat-icon>delete</mat-icon>
      </button>
    </span>

    <span class="scene-table__drag-area"
          [id]="'videoId' + video.id"
          [class.scene-table__drag-area--active]="DraggingArrow$ | async">
    </span>
  </div>
  <div class="scene-table__question-container"
       [id]="'video' + video.id + 'question' + questionId"
       *ngFor="let question of video.questions; let questionId = index">
    <div class="scene-table__question">
      <div class="scene-table__question-title-top">
        <input class="scene-table__question-title" [placeholder]="'BUILDER.QUESTION_PLACEHOLDER' | translate" [(ngModel)]="question.title" (ngModelChange)="this.onUpdate.emit(this.video)">
        <button mat-icon-button (click)="removeQuestion(questionId)" [matTooltip]="'BUILDER.REMOVE_VIDEO' | translate">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="scene-table__question-title-bottom">
        <div class="scene-table__question-timestamp">
          <mat-icon [matTooltip]="'show question at timestamps...'">schedule</mat-icon>
          <input type="number" min="-1" step="1" [placeholder]="'BUILDER.START' | translate" [(ngModel)]="question.startAppearance" (ngModelChange)="this.onUpdate.emit(this.video)"
                 class="scene-table__question-timestamp-input">
          -
          <input type="number" min="-1" step="1" [placeholder]="'BUILDER.END' | translate" [(ngModel)]="question.endAppearance" (ngModelChange)="this.onUpdate.emit(this.video)"
                 class="scene-table__question-timestamp-input">
        </div>
      </div>

    </div>
    <div class="scene-table__answers">
      <app-video-option *ngFor="let option of question.options; let i = index"
                        class="scene-table__answer"
                        [id]="'video' + video.id + 'question' + questionId + 'answer' + i"
                        [optionElementId]="'video' + video.id + 'question' + questionId + 'answer' + i"
                        [option]="option" (onRemove)="removeOption(questionId, i)" (optionChange)="this.onUpdate.emit(this.video)">
      </app-video-option>
      <button mat-flat-button
              class="scene-table__add-option"
              [color]="'primary'"
              (click)="addOption(questionId)"
              *ngIf="question.options.length < 4">
        <mat-icon>add</mat-icon>
        <span>{{ 'BUILDER.ADD_OPTION'  | translate }}</span>
      </button>
    </div>
  </div>
  <div class="scene-table__add-question-container">
    <button mat-button
            class="scene-table__add-question"
            (click)="addQuestion()">
      <mat-icon>add</mat-icon>
      <span>{{ 'BUILDER.ADD_QUESTION' | translate }}</span>
    </button>
  </div>
  <div class="scene-table__add-question-container scene-table__next-video-container"
       [id]="'next-video-action-' + video.id">
    <button mat-flat-button
            cdkDrag
            [color]="'primary'"
            (cdkDragStarted)="onArrowDrag()"
            (cdkDragEnded)="onArrowDrop($event)"
            [cdkDragFreeDragPosition]="arrowLocation"
            [cdkDragData]="video.nextVideo"
            class="scene-table__next-video">
      <mat-icon>link</mat-icon>
      <span>{{ 'BUILDER.VIDEO_END_LINK' | translate }}</span>
    </button>
    <button mat-flat-button
            *ngIf="Number(video?.nextVideo) >= 0"
            (click)="removeNextVideoLink()"
            [color]="'primary'"
            class="scene-table__next-video-remove">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
