<h2 mat-dialog-title>{{ (manualInput ? 'VIDEO_LIST.TITLE.MANUAL' : 'VIDEO_LIST.TITLE.UPLOAD') | translate }}</h2>
<mat-dialog-content>
  <div class="upload-video-files-dialog">
    @if(!manualInput) {
      <div class="upload-video-files-dialog__upload-container" appDragDrop (files)="uploadFiles($event)" (click)="fileUpload.click()">
        <input class="upload-video-files-dialog__upload-container-file-input" type="file" multiple accept="video/mp4" (change)="onFileSelect($event)" #fileUpload>
        <mat-icon>library_add</mat-icon>
        <h3>{{ 'VIDEO_LIST.SELECT_VIDEO' | translate }}</h3>
        <span>{{ 'VIDEO_LIST.SELECT_DRAG_AND_DROP' | translate }}</span>
        <span>{{ 'VIDEO_LIST.OR' | translate }}</span>
        <button mat-stroked-button color="primary" (click)="toggleManualInput($event)">{{ 'VIDEO_LIST.ADD_MANUALLY' | translate }}</button>
      </div>
    } @else {
      <span>force manual</span>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" [mat-dialog-close]="{uploadedVideos}">{{ 'GENERAL.SUBMIT' | translate }}</button>
</mat-dialog-actions>

