.nav-bar {
  height: 80px;
  background: var(--neutral-50);
  display: flex;
  align-items: center;
  padding: 20px 80px;
  overflow: hidden;
  justify-content: space-between;
  z-index: 10;

  &__logo {
    cursor: pointer;
  }

  &__menu {
    cursor: pointer;
    color:  var(--primary-500);
  }

  &__actions {
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  &__language {
    &-action {
      min-width: 0;
    }
  }
}
