<div class="builder">
  <app-builder-toolbar
    (clickVideoDrawer)="videoDrawer.toggle()"
    (clickHome)="panBackToStart()"
    (clickAdd)="sceneAction('add')"
    (clickClear)="sceneAction('clear')"
    (clickCode)="codeDrawer.toggle()">
  </app-builder-toolbar>
  <mat-drawer-container class="builder__canvas-container" autosize>
    <mat-drawer #videoDrawer
                class="builder__video-drawer"
                mode="side"
                (closedStart)="updateBuilder('start')"
                (openedStart)="updateBuilder('start')"
                (openedChange)="updateBuilder('end')">
      <div class="builder__video-drawer-header">
        <h2>{{'BUILDER.VIDEO_SLIDER.HEADER' | translate}}</h2>
        <button mat-icon-button
                class="builder__add-button small-icon-button"
                [matTooltip]="'BUILDER.VIDEO_SLIDER.ADD_VIDEO' | translate"
                [color]="'primary'">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-drawer>

    @if(panzoomConfig) {
      <pan-zoom [config]="panzoomConfig" >
        <div class="builder__canvas" *ngIf="scene.videos">
          @for (video of scene.videos; track video.id) {
            <div class="builder__table">
              <app-scene-table [video]="video" (onUpdate)="sceneAction('update')" (onRemoveVideo)="sceneAction('remove', $event)">
              </app-scene-table>
            </div>
          }
        </div>
      </pan-zoom>
    }

    <mat-drawer #codeDrawer class="builder__video-drawer" [position]="'end'" mode="side">
      <div class="builder__video-drawer-header">
        <h2>{{'BUILDER.CODE_SLIDER.HEADER' | translate}}</h2>
        <div class="builder__video-drawer-header-actions">
          <button mat-icon-button (click)="downloadScene()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-icon-button [cdkCopyToClipboard]="sceneToString()" (click)="copyScene()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
      </div>
      <div class="builder__video-drawer-content">
        <json-editor
          *ngIf="editorOptions"
          [options]="editorOptions"
          [data]="jsonScene">
        </json-editor>
      </div>
    </mat-drawer>
  </mat-drawer-container>

</div>

