<div class="builder">
  <div class="builder__toolbar">
    <div>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.MENU' | translate"
              [color]="'primary'">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.ADD' | translate"
              [color]="'primary'"
              (click)="panBackToStart()">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.ADD' | translate"
              [color]="'primary'"
              (click)="addVideo()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.CLEAR' | translate"
              [color]="'primary'"
              (click)="clearScene()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.IMPORT' | translate"
              [color]="'primary'"
              (click)="openImportDialog()">
        <mat-icon>publish</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button
              class="builder__add-button small-icon-button"
              [matTooltip]="'BUILDER.CODE' | translate"
              [color]="'primary'">
        <mat-icon>code</mat-icon>
      </button>
    </div>
  </div>
  <div class="builder__canvas-container" (scroll)="scrollStart()">
    @if(panzoomConfig) {
      <pan-zoom [config]="panzoomConfig" >
        <div class="builder__canvas" *ngIf="scene.videos">
          @for (video of scene.videos; track video.id) {
            <div class="builder__table">
              <app-scene-table [video]="video" (onRemoveVideo)="removeVideo($event)">
              </app-scene-table>
            </div>
          }
        </div>
      </pan-zoom>
    }
  </div>
</div>

