<div class="home">
  <div class="home__container">
    <div class="home__hero">
      <mat-icon class="home__hero-icon">rocket</mat-icon>
      <h1 class="home__hero-header">Json builder</h1>
      <div class="home__actions">
        <button mat-flat-button color="primary" (click)="navigateToBuilder()">{{"HOME.GET_STARTED" | translate}}</button>
        <button mat-stroked-button color="primary">{{"HOME.CONTINUE_FROM_SAVE" | translate}}</button>
      </div>
      <span class="home__footer">
        {{"HOME.POWERED_BY" | translate}}
      </span>
    </div>
  </div>
</div>
