<div class="home">
  <app-nav-bar class="home__nav" (sidebarToggle)="toggleSideBar()"></app-nav-bar>
  <div class="home__container">
    <app-builder [scene]="scene" class="home__builder"></app-builder>
    <div class="home__sidebar" *ngIf="sidebarToggled">
      <div class="home__sidebar-header">
        <h3>json</h3>
        <button mat-icon-button
                [cdkCopyToClipboard]="copyJson()"
                [matTooltip]="'copies Json to clipboard'">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
      <pre class="home__generated-json">
        {{scene | json}}
      </pre>
    </div>
  </div>
</div>
