<span class="video-option">
  <a class="video-option__remove" (click)="removeItem()">
    <mat-icon [matTooltip]="'BUILDER.REMOVE_OPTION' | translate">remove</mat-icon>
  </a>
  <input [(ngModel)]="option.title" class="video-option__input" [placeholder]="'BUILDER.OPTION_PLACEHOLDER' | translate" (ngModelChange)="optionChange.emit(option)">
  <a class="video-option__arrow"
     cdkDrag
     (cdkDragStarted)="onArrowDrag()"
     (cdkDragEnded)="onArrowDrop($event)"
     [cdkDragFreeDragPosition]="arrowLocation"
     [cdkDragData]="option.gotoId">
    <mat-icon>link</mat-icon>
  </a>
</span>
