.video-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  height: 40px;
  background-color: var(--neutral-50);
  border-bottom: 1px var(--neutral-contrast-50) solid;

  &__remove {
    background-color: var(--primary-500);
    color: var(--primary-500);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    padding: 4px;
    flex: 1;
    transition: color 150ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--primary-contrast-500);
      background-color: var(--primary-500);
    }

    &:active {
      background-color: var(--primary-500);
    }
  }

  &:has(> .video-option__input:focus-visible) {
    background-color: var(--neutral-50);
  }

  &:hover {
    background-color: var(--neutral-50);
  }

  &__input {
    border: none;
    margin: 0 8px;
    background-color: rgba(255, 255, 255, 0);
    flex: 8;

    &:focus-visible {
      outline: none;
    }
  }

  &__arrow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
    height: 24px;
    width: 24px;

    &:active {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, .05);
      background-color: var(--primary-500);
      border-radius: 50%;
      pointer-events: none;
    }
  }
}
