:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


.details-form {
  min-width: 400px;
  width: 40vw;


  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    mat-form-field {
      width: 100%;
    }
  }
}
